/* GLOBAL RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*VARIABLES*/
:root {
  --color1: #cddc39;
}

/* ESTILOS NAVBAR */
.navar {
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  padding-left: 25px;
}

.enlaces {
  padding-right: 40px;
}

.enlace {
  color: white;
}

.enlaceSomos {
  text-decoration: none;
}

.enlaceBoton {
  margin-left: 20px;
}

.enlaceEquipo {
  margin-left: 20px;
  text-decoration: none;
}

.you {
  color: yellow;
}

/* ESTILOS SECTION PRINCIPAL */
main {
  display: flex;
  flex-wrap: wrap;
}

.imgMain {
  display: flex;
  /* background-color: rgb(6, 16, 81); */
  width: 50%;
  justify-content: center;
}

.sectionPresentacion {
  display: flex;
  align-items: center;
  padding-left: 60px;
}
/* ESTILOS SECTION FICHAS */
.iconLinkedin {
  width: 32px;
  height: 32px;
  /* background-image: url(../images/Linked.png);
  background:no-repeat;
  width: 500px;
  height:500px;
  display: block; */
}
.sectionFichas {
  background-color: grey;
  display: flex;
  justify-content: space-around;
}

.fotoFicha {
  width: 150px;
  height: 150px;
  background-color: #f0f;
}

.containerFicha {
  background-color: blueviolet;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFicha h3 {
  color: white;
}

#fichaAndres {
  background-color: var(--color1);
}

#fichaCarmen {
  background-color: green;
}
