/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Nerko+One&family=Righteous&family=Ubuntu:wght@400;700&display=swap');
/* GLOBAL RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ubuntu";
}

/*VARIABLES*/
:root {
  --color1:#17c69b;
  --color2:#fda543;
  --color3:#fb3640;
  --color4:#a90448;
  --color5:#13141a;
}

/* ESTILOS NAVBAR */
.navar {
  background-color: var(--color4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

}

.logo {
  padding-left: 25px;
}
.logo h1{
  color: var(--color5);
}
.logo span{
  color: var(--color2);
}

.enlaces {
  padding-right: 40px;
}

.enlace {
  color: white;
}

.enlaceSomos {
  text-decoration: none;
}

.enlaceBoton {
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: var(--color2);
  padding: 10px;
border-radius: 15px;
cursor: pointer;
}

.enlaceBoton:hover{
  opacity: 0.75;
  transition: all 500ms;
  
}


.enlaceEquipo {
  margin-left: 20px;
  text-decoration: none;
}



/* ESTILOS SECTION PRINCIPAL */
main {
  display: flex;
  flex-wrap: wrap;
}

.imgMain {
  display: flex;
  /* background-color: rgb(6, 16, 81); */
  width: 50%;
  justify-content: center;
}

.sectionPresentacion {
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.sectionPresentacion h2{
  font-weight: 700;
  font-size: 4rem;
  color: var(--color5);
}
.sectionPresentacion p{
  font-size: 1.5rem;
  color: var(--color5);
}
.buttonPresentacion{
 
  border: none;
  outline: none;
  background-color: var(--color1);
  padding: 10px;
border-radius: 15px;
cursor: pointer;
padding: 10px 15px;
margin-top: 10px;
margin-bottom: 10px;
}
.buttonPresentacion:hover{
  opacity: 0.75;
  transition: all 500ms;

}
/* ESTILOS SECTION FICHAS */
.iconLinkedin {
  width: 32px;
  height: 32px;
  /* background-image: url(../images/Linked.png);
  background:no-repeat;
  width: 500px;
  height:500px;
  display: block; */
}
.sectionFichas {
background-color: var(--color2);
  display: flex;
  justify-content: space-around;
}

.fotoFicha {
  width: 150px;
  height: 150px;
  background-color: #f0f;
  border-radius: 50%;
}

.containerFicha {
 
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFicha h3 {
  color: white;
}


