/* ESTILOS NAVBAR */
.navar{
    background-color:#cddc39;
    display: flex;
    justify-content:space-between ;
}
.logo{
    padding-left: 25px;
}
.enlaces{
    padding-top: 20px;
    padding-right: 40px;
}
.enlaceSomos{
    text-decoration: none;
    
}
.enlaceBoton{
    margin-left: 20px;
}
.enlaceEquipo{
    margin-left: 20px;
    text-decoration: none;
}
.you{
    color: yellow;
}

/* ESTILOS SECTION PRINCIPAL */
.mainImg{
    background-color: rgb(6, 16, 81);
    width: 500px;
    height: 500px;
}