/* CARD SECTION */
.iconLinkedin {
    width: 32px;
    height: 32px;
  }
  .sectionFichas {
    background-color: var(--color2);
    display: flex;
    justify-content: space-around;
  }
  
  .fotoFicha {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .containerFicha {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .containerFicha h3 {
    color: white;
  }
  