/* MAIN section */
main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 40px;
  }
  
  .imgMain {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  
  .sectionPresentacion {
    display: flex;
    align-items: center;
  }
  .sectionPresentacion h2 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--color5);
  }
  .sectionPresentacion p {
    font-size: 1.5rem;
    color: var(--color5);
    max-width: 40vw;
  }
  .buttonPresentacion {
    border: none;
    outline: none;
    background-color: var(--color1);
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .buttonPresentacion:hover {
    opacity: 0.75;
    transition: all 500ms;
  }